/**
  * Note: em values are calculated by desired content width and dividing by global px value
  * Ex: 1200px / 16px = 75em
  */


/**
 * These are helpers / Site-wide Width contraints
 */
@mixin tablet_width() {
    max-width: $tablet-width;
}

// desktop width
@mixin desktop_width() {
    max-width: $desktop-width;
}

// lg-desktop width
@mixin lg-desktop_width() {
    max-width: $lg-desktop-width;
}

/**
 * Global Containers 
 */
.entry-content {
    
    margin: 0 auto;
    padding-top: 8.83em;

    @media #{$tablet__breakpoint} {
        
        @include tablet_width;
        /*padding-top: 8em;*/
        
    }
    @media #{$desktop__breakpoint} {
            
        @include desktop_width;
        
    }
    @media #{$lg-desktop__breakpoint} {
        border: 3px solid red;

        @include lg-desktop_width;
    }
}

/**
 * Body animation and class for onpage load fadein
 */
body {
    
    opacity: 0;
    animation: fadeIn 1.35s;
    
    &.fadeIn {
        
        opacity: 1;
        
    }
    
}

/* NOTE: keyframes should go into an animation file */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* NOTE: this will be global link styles */
/* NOTE: go to 'elements' styles and grab those for global class */
a {
	
    color: $hero-color;

	&:visited {
		/*color: $color__link-visited;*/
	}
        
	&:hover,
	&:focus,
	&:active {
            
		color: $hero-green;
                
	}
        
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}


/**
 * NOTE: Add this to a 'hotfix' helper file that will load later
 * Add padding to anchored bookmarks to account for fixed header + some margin
 */
h2, p {
    position: relative;
    span[class="anchored-header-target"] {
        display: block;
        position: absolute;
        top: -81px;
        padding-bottom: 81px;
        outline: none;
        border-width: 0;
        &:active, &:focus {
            outline: none;
            border-width: 0;    
        }
    }   
}

/**
 * Hide featured thumbnail on blog index for post: SEO in 2018
 */
.blog,
.single {
    
    /* post SEO in 2018 trends */
    .post-2106 .entry-header > a img {
        /*display: none;*/
    }
    
}

/* If homepage or service homepage, preload images */
#preload-container {
    display: none;
}
    
/* style header disclaimer on guest posts */
.guest-post {
    font-weight: bold;
    font-style: italic;
    font-family: $text_font;
}

