/**
  * Note: em values are calculated by desired content width and dividing by global px value
  * Ex: 1200px / 16px = 75em
  */

$mobile-only__breakpoint: "(max-width: 768px)";
/*$mobile-only__breakpoint: "(max-width: 16rem)";*/
$tablet__breakpoint: "(min-width: 54rem)";
/*$desktop__breakpoint: "(min-width: 75rem)";*/
$desktop__breakpoint: "(min-width: 90rem)";
$lg-desktop__breakpoint: "(min-width: 118.75em)";

/**
 * Site-wide Width contraints
 */
@mixin tablet_width() {
    max-width: 48rem;
}

// desktop width
@mixin desktop_width() {
    max-width: 51rem;
}

// lg-desktop width
@mixin lg-desktop_width() {
    max-width: 54rem;
}

/**
 * Global Containers 
 */
.site-content {
    
    margin: 0 auto;

    @media #{$tablet__breakpoint} {
        
        @include tablet_width;
        padding-top: 5.4em;
        
    }
    @media #{$desktop__breakpoint} {
            
        @include desktop_width;
        
    }
    @media #{$lg-desktop__breakpoint} {
        border: 3px solid red;

        @include lg-desktop_width;
    }
}






/**
 * Body animation and class for onpage load fadein
 */
body {
    opacity: 0;
    animation: fadeIn 1.35s;
}

body.fadeIn {
    opacity: 1;
}

@keyframes fadeIn {
    from {
            opacity: 0;
    }
    to {
            opacity: 1;
    }
}


/**
 * Add padding to anchored bookmarks to account for fixed header + some margin
 */
h2, p {
    position: relative;
    span[class="anchored-header-target"] {
        display: block;
        position: absolute;
        top: -81px;
        padding-bottom: 81px;
        outline: none;
        border-width: 0;
        &:active, &:focus {
            outline: none;
            border-width: 0;    
        }
    }   
}

/**
 * Hide featured thumbnail on blog index for post: SEO in 2018
 */
.blog,
.single {
    
    /* post SEO in 2018 trends */
    .post-2106 .entry-header > a img {
        /*display: none;*/
    }
    
}

/* If homepage or service homepage, preload images */
#preload-container {
    display: none;
}
    
/* style header disclaimer on guest posts */
.guest-post {
    font-weight: bold;
    font-style: italic;
    font-family: $text_font;
}

