/*.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-content .widget-area {
	float: right;
	overflow: hidden;
	width: $size__site-sidebar;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}*/

/*#content {
    
    @media #{$tablet__breakpoint} {       
        @include tablet_width;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        #primary {
            //width: 60%;
            flex: 1 1 60%
        }
        #secondary {
            @include border;
            //width: 30%;
        }
        
    }
    
    @media #{$desktop__breakpoint} {       
        @include desktop_width;
    }
    
    @media #{$lg-desktop__breakpoint} {     
        @include lg-desktop_width;            
    }
    
}*/

