body.blog {

	.site-content {

		display: flex;
		flex-wrap: wrap;

		#primary,
		#secondary {
			// border: 1px solid green;
			// flex: 1 1 auto;
		}

		#primary {
			flex: 2 0 0px;
		}

		#secondary {
			flex: 1 2 0px;
			background-color: $color-light;
			height: 100%;
			padding-bottom: 5.063em; /* accounts for skewed about section */
		}

	}

	@media #{$tablet__breakpoint} {

		.site-content {

			padding-top: 5.063em;

		}

		#primary,
		#secondary {

			margin: 0;

		}

	}

}
