body.blog {

	.site-content {

		display: flex;
		flex-wrap: wrap;

		#primary,
		#secondary {

			flex-basis: 100%;

		}

		#secondary {

			background-color: $color-light;
			height: 100%;
			padding: 1.4em 1em 5.063em; /* bottom padding accounts for skewed about section */

			a:visited {
				color: $hero-color;
			}

		}

		.widget-area {

			/* hides the connect with us widget */
			.widget_custom_html:last-child {

				display: none;

			}

		}

	}

	@media #{$tablet__breakpoint} {

		.widget-area {

			.widget_custom_html:last-child {

				display: block;

			}

		}

		.site-content {

			padding-top: 5.063em;
			flex-wrap: nowrap;

			#primary {

				flex: 0 0 25em;

			}

			#secondary {

				flex: 1 1 0px;
				margin: 5.063em 1em 1em 0;
				padding-top: 0;

			}

		}

	}

}

// article#post-1718,
// article#post-1722 {
//
// 	display: flex;
// 	flex-wrap: wrap;
//
//
// 	.entry-header,
// 	.entry-content,
// 	.widget-area {
// 		flex-basis: 100%;
// 	}
//
// 	@media #{$tablet__breakpoint} {
//
// 		justify-content: space-around;
// 		// max-width: $tablet-width;
//
// 		.entry-content {
// 			flex: 0 0 25em;
// 		}
// 		.widget-area {
// 			flex: 1 1 0px;
// 		}
// 	}
// }
