
/**
 * Add padding to anchored bookmarks to account for fixed header + some margin
 */
h2, p {
    position: relative;
    span[class="anchored-header-target"] {
        display: block;
        position: absolute;
        top: -81px;
        padding-bottom: 81px;
        outline: none;
        border-width: 0;
        &:active, &:focus {
            outline: none;
            border-width: 0;    
        }
    }   
}

/**
 * Hide featured thumbnail on blog index for post: SEO in 2018
 */
.blog .post-2106 .entry-header > a img {
    display: none;
}
