.testimonial-container {

	font-size: 90%;
	margin-bottom: 2rem;

	.testimonial,
	.testimonial-author {
		font-size: inherit;
	}

	.testimonial {
		font-style: italic;
	}

	.testimonial::before {
		@include quotes;
	}

	.testimonial-author {
		font-weight: lighter;
		font-weight: 95%;

		> a {
			font-style: italic;
			color: inherit;
			&:hover {
				color: $hero-color;
			}
		}
	}

}
