.testimonial-container {

	font-size: 90%;
	margin-bottom: 2rem;

	.testimonial,
	.testimonial-author {
		font-size: inherit;
	}

	.testimonial {
		font-style: italic;
	}

	.testimonial::before {
		content: "\f10d";
	    font-family: "FontAwesome";
	    font-weight: 900;
	    display: inline-block;
	    float: left;
	    padding: 0 1.25rem 0 0;
	    font-size: ms(2);
	    color: $hero-color;
	    text-align: center;
	    position: relative;
	    top: 8px;
	    left: 0;
	}

	.testimonial-author {
		font-weight: lighter;
		font-weight: 95%;

		> a {
			font-style: italic;
			color: inherit;
			&:hover {
				color: $hero-color;
			}
		}
	}

}
