/*@import '../../bower_components/modular-scale/modularscale';*/
@import '../../node_modules/modularscale-sass/stylesheets/modularscale';

$base_font_size: 1.2rem;
$base_scale: 1.4;
$base_line_height: $base_scale;

$second_font_size: 1rem;
$second_scale: 1.2;
$second_line_height: $second_scale;

html,
body {

    font-size: 100%;
    color: $color-dark;
  	font-family: $titillium_web;
  	line-height: $base_line_height;

    @media #{$tablet__breakpoint} {

        font-size: 110%;

    }

    @media #{$desktop__breakpoint} {

        font-size: 115%;

    }

}

body {

  font-family: $text_font;

}

$modularscale: (
    base: $base_font_size,
    ratio: $base_scale,
    second: (
        base: $second_font_size,
        ratio: $second_scale
    ),
    third: (
        base: $base_font_size,
        ratio: $second_scale
    )
);

p {
    font-size: ms(0);
    line-height: $base_line_height;
    font-weight: 300;
    // margin: ($base_scale + em) 0 0;
}

ul,
ol {
    font-size: ms(1 , $thread: second);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $titillium_web;
    color: $hero-color;
}

h1,
.h1 {
    font-size: ms(3);
}

h2,
.h2,
h3,
.h3 {
    font-size: ms(2);
    font-weight: 600;
    margin: 1.5rem 0 0;
}

h3,
.h3 {
    font-family: $text_font;
    font-size: ms(2 , $thread: second);
    font-weight: 400;
    margin-top: 1.4rem;
}

h4,
.h4 {
    font-size: ms(1 , $thread: second);
    font-weight: 600;
}

.small-text {
    font-size: (100 / $second_scale) + 0%;
}

.blog-meta-text {
  font-family: $titillium_web;
  font-weight: 400;
  @extend .small-text;
}

.quote {
    font-style: italic;
    font-size: ms(0, $thread: third);
    font-weight: 400;
}

/**
/// site header & navigation
* TODO: give higher inheritance to this selector
*/
.site-header {

    .site-title,
    .main-navigation {
        font-family: $text_font;
    }

    .main-navigation {
       font-size: ms(1);
       font-weight: 300;
    }

    .site-title {
        font-size: ms(2);
        & + .site-description {
            line-height: 1;
        }
    }

}

.page {

  .entry-header {

    .entry-title {

      font-size: ms(2);

    }

  }

  @media #{$tablet__breakpoint} {

    .entry-header .entry-title {

      font-size: ms(3);

    }

  }

}

.blog,
.single {

  font-family: $text_font;

  .entry-title {

    line-height: $second_line_height;

  }

  .entry-footer {

    @extend .small-text;
    text-transform: uppercase;

  }

  .more-link {

      font-weight: bolder;
      font-style: italic;

  }

}

/**
 * Single Blog Posts
 */
.single {

  .entry-content {

    .byline {

      font-family: $text_font;
      font-size: ms(3 , $thread: second);
      line-height: $base_line_height;
      font-weight: 300;

    }

  }

}

/**
 * Blog Index page
 */
.blog {

    .entry-title {

      font-size: ms(2);

    }

    .byline {

      font-size: ms(2 , $thread: second);

    }

    .entry-meta {
        font-family: $text_font;
        font-weight: lighter;
        font-size: ms(1);
    }

    .entry-footer {

    }

}

/* hero font styles */
.hero-banner,
.hero {

  .hero-headline-text {

    font-family: $titillium_web;
    font-size: ms(3);
    font-weight: 700;
    text-transform: capitalize;
    color: $hero-color;

    &.services-headline {
      font-size: ms(2);
      line-height: $second_line_height;
    }

    > span {
      color: $hero-green;
      font-style: italic;
    }

  }

  .hero-byline-text {

      font-family: $text_font;
      font-size: ms(1, $thread: second);
      color: $color-dark;
      font-weight: 400;
      text-transform: capitalize;

  }

  @media #{$tablet__breakpoint} {

    .hero-headline-text {

      &.hero-headline,
      &.services-headline {
        font-size: ms(6, $thread: third);
      }

    }

    .hero-byline-text {
      font-size: ms(2, $thread: second);

    }

  }

  .banner-page-text {

    line-height: $second_line_height;

    &.banner-heading {

        font-size: ms(3);
        font-weight: 700;

    }

    &.banner-secondary-text {

        font-size: ms(1);
        font-weight: 400;

    }

  }

}



.widget {

  .widget-title {

    font-weight: bold;
    font-size: ms(1);

  }

}

.blog .widget {

  margin-bottom: 1rem;

  .widget-title {

    margin-top: 1.4rem;

  }

}


// @import "headings";

@import "copy";
