@import "fonts";
@import '../../node_modules/modularscale-sass/stylesheets/modularscale';

$base_font_size: 1.2rem;
$base_scale: 1.4;
$base_line_height: 1.6;

$second_font_size: 1rem;
$second_scale: 1.2;
$second_line_height: $second_scale;

html,
body {

   font-size: 100%;
   color: $color-dark;
  	font-family: $titillium_web;
  	// line-height: $base_line_height;

    @media #{$tablet__breakpoint} {

        font-size: 110%;

    }

    @media #{$desktop__breakpoint} {

        font-size: 115%;

    }

}

body {

  font-family: $text_font;

}

$modularscale: (
    base: $base_font_size,
    ratio: $base_scale,
    second: (
        base: $second_font_size,
        ratio: $second_scale
    ),
    third: (
        base: $base_font_size,
        ratio: $second_scale
    )
);

p {
    font-size: ms(0);
    line-height: $base_line_height;
    font-weight: 300;
    // margin: ($base_scale + em) 0 0;
}

ul,
ol {
    font-size: ms(1 , $thread: second);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $titillium_web;
    color: $hero-color;
}

h1,
.h1 {
    font-size: ms(3);
}

h2,
.h2,
h3,
.h3 {
    margin: 1.2rem 0 0;
}

h2,
.h2 {
   font-size: ms(2);
   font-weight: 600;
}

h3,
.h3 {
    font-family: $text_font;
    font-size: ms(2 , $thread: second);
    font-weight: 400;
}

@mixin h3 {
   font-family: $text_font;
   font-size: ms(2 , $thread: second);
   font-weight: 400;
}

h4,
.h4 {
    font-size: ms(1 , $thread: second);
    font-weight: 600;
}

@mixin h4 {
   font-size: ms(1 , $thread: second);
   font-weight: 600;
}

.small-text {
    font-size: (100 / $second_scale) + 0%;
    // font-size: 66%;
    font-weight: bold;
}

@mixin small-text {
   font-size: (100 / $second_scale) + 0%;
}

.quote {
    font-style: italic;
    font-size: ms(0, $thread: third);
    font-weight: 400;
}

/**
/// site header & navigation
* TODO: give higher inheritance to this selector
*/
.site-header {

    .site-title,
    .main-navigation {
        font-family: $text_font;
    }

    .main-navigation {
       font-size: ms(1);
       font-weight: 300;
    }

    .site-title {
        font-size: ms(1);
        & + .site-description {
            line-height: 1;
        }
    }

}

.page {

  .entry-header {

    .entry-title {

      font-size: ms(2);

    }

  }

  @media #{$tablet__breakpoint} {

    .entry-header .entry-title {

      font-size: ms(3);

    }

  }

}

/* hero font styles */
.hero-banner,
.hero {

  .hero-headline-text {

    font-family: $titillium_web;
    font-size: ms(3);
    font-weight: 700;
    text-transform: capitalize;
    color: $hero-color;

    &.services-headline {
      font-size: ms(2);
    }

    > span {
      color: $hero-green;
      font-style: italic;
    }

  }

  .hero-byline-text {

      font-family: $text_font;
      font-size: ms(1, $thread: second);
      color: $color-dark;
      font-weight: 400;
      text-transform: capitalize;
      // margin-top: 0;

  }

  @media #{$mobile-only__breakpoint} {
     .hero-byline-text {
        padding: 0 1rem;
     }
  }

  @media #{$tablet__breakpoint} {

    .hero-headline-text {

      &.hero-headline,
      &.services-headline {
        font-size: ms(6, $thread: third);
        line-height: 1;
      }

    }

    .hero-byline-text {
      font-size: ms(2, $thread: second);
    }

  }



}

/**
 * Widgets
 */
.widget {

  .widget-title {

    font-weight: bold;
    font-size: ms(1);

  }

}

@import "blog";
