/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 7-Dec-2017, 10:05:34 PM
    Author     : David
*/

.panel-container:nth-child(even):not(.portfolio),
.panel-container.panel-color {
    background-color: $panel-color;
    //padding-top: 1px;
    //padding: 0.1em 0 2em 0;

}
.panel-container.portfolio {
    //border-top: 1px solid #ccc;

    background-color: $panel-color;
}

.entry-content.panel-content {
   // border: 2px solid green;
}
