.widget-area {
    //@include border;
}

.widget {
    
        //@include border(1px,white);
	margin: 0 0 1em;
	padding: 0 0 1em;
	font-family: $font__main;
	
	ul,
	ol {
            padding: .7em 0 0;
            margin-bottom: 0;
            //list-style-type: none;

		li {
                    display: block;
                    line-height: 2em;

                    ul,
                    ol {
                        
                        margin-left: .5em;
                        
                        @media screen and (min-width: 30em) {
                                margin-left: 1em;
                        }
                        
                    }
			
		}
	}
	
	a {

            text-decoration: none;
            
            &:hover,
            &:focus {
                    border-bottom: $color__link-hover;
            }
	}
	
	/* Make sure select elements fit in widgets. */
	select {
            width: 100%;
            height: 2.5em;
            padding: 10px;
            //font-family: $font__main;
            border: 1px solid #ccc;
	}
	
        &:last-of-type {
            margin-bottom: 0;
        }
        
}

.widget-title {
	margin-top: 0;
	margin-bottom: .5em;
	font-size: 1.4em;
}

/* Archive and Categories widgets */
.widget_archive li {
	color: #7D7D7D;
}

.widget_categories .children {
	padding-top: 0;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Pages and Menu widgets */
.widget_pages .children,
.widget_nav_menu .sub-menu {
	padding-top: 0;
	padding-bottom: .5em;
}

.widget_pages,
.widget_nav_menu {
	
	a {
		display: block;
		padding: 1em 0;
		text-decoration: none;
		border-bottom: 1px dashed hsl(0, 0%, 50%);
		
		&:hover,
		&:focus {
			text-decoration: none;
			border-bottom: 1px dashed hsl(0, 0%, 50%);
		}
	}
	
	li {
		padding: 0;

	}
	
}

/* Meta widget */
.widget_meta li {
	padding: 0;
}

/* Recent comments */
.widget_recent_comments {

	li {
		line-height: 1.3em;
		padding-bottom: .5em;
	}
	
	a:hover,
	a:focus {
		padding-left: 0;
	}
	
}

.widget_recent_entries {
    ul {
        margin-left: 0;
        padding: 0;
        list-style-type: initial;
    }
    
}

/* RSS widget */
.widget_rss li {
	margin-bottom: 1em;
}
.widget li a.rsswidget {
	padding-right: .5em;
	font-size: 1em;
	line-height: 1.4em;
}

.rss-date,
.widget_rss cite {
	color: #333;
	font-size: .8em;
}

.rssSummary {
	padding: .5em 0;
	//font-family: $font__header;
	font-size: .8em;
    line-height: 1.4em;
}

/* Search widget */
.widget_search input[type="search"] {
	box-sizing: border-box;
	width: 100%;
	padding: .5em 1em;
	border: 1px solid #c3c3c3;
	border-radius: 0;
}

/* Calendar widget */
.widget_calendar {
	font-weight: 400;
	
	caption {
		padding: .5em 0;
		font-size: 1em;
		font-weight: 500;
		text-align: left;
	}
	
	thead {
		background: transparent;
		color: black;
		
		th {
			border-bottom-width: 2px;
		}
	}
	
	td {
		padding: .2em;
		font-size: .8em;
		text-align: center;
		background: white;
		border: 1px solid hsl(0, 0%, 80%);
	}
	
	th {
		border: none;
		text-align: center;
	}
	
	.pad {
		background: #eaeaea;
	}
	
	a {
		font-weight: 900;
		text-decoration: none;
	}
	
}

/* Text widget */

/* MailChimp signup form */
.widget #mc_embed_signup {
    p {
        margin: 0.5em 0 1em;
    }
    .indicates-required {
        display: none;
    }
    .mc-field-group {
        clear:left; 
        position:relative; 
        width:100%; 
        padding-bottom:3%; 
        min-height:50px;
        .asterisk {
            color: red;
        }

    }
    .mc-field-group label {
        display: block;
        font-weight: bold;
        font-size: 85%;
        margin-bottom: 0.25em;
    }
    .mc-field-group input {
        display: block;
        width: 100%;
        padding: 8px 0;
        text-indent: 2%;
       
    }
    #mce-responses .response {
        margin-bottom: .75em;
    }
    
    @media #{$desktop__breakpoint} {
        .mc-field-group input,
        div.mce_inline_error {
            width: 96%;
        }
       
    }
    
}

/* Footer widget styles */

.footer-widgets {
    
    margin: 2em 0 0;
    padding: 1em 0;
    background-color: $hero-color;
    color: #f3f3f3;
    
    .widget {
        margin: 0 1em 1em;
        padding-top: 1em;
    }
    
    a {
        color: white;
        padding: 0;
    }
	
    @media #{$tablet__breakpoint} {
        padding: 2em 1em;
        display: flex;
        flex-wrap: wrap;
        .widget {
            flex: 1 0 45%;
            
            //@include border(2px,white);
        }
    }
		
    @media #{$desktop__breakpoint} {
            
        flex-wrap: nowrap;
                justify-content: center;

        .widget {
            flex: 1 1 auto;
            flex: 1 0 45%;
        }

        /* If only one widget is displayed, make it full width. */
        .widget:only-of-type {
                width: 100%;
        }
        
        .widget:first-child {
            flex-basis: 40%;
        }
        

/*          .widget:nth-child(2) {
                flex: 2;
            }*/

            /* If 2 or 3 widgets are displayed, make the second one twice as wide. */
/*            .widget:nth-last-child(n+2):nth-last-child(-n+3):first-child ~ .widget:nth-child(2) { 
                //flex: 2;
                width: 30%;
                flex: 1 1 30%;
            }*/

            /* If 4 or more widgets are displayed, show three across when available. */
/*            .widget:nth-last-child(n+4), 
            .widget:nth-last-child(n+4) ~ .widget { 
                width: 30%;
                flex: 1 1 30%;
            }*/
    }
    
    
	
}

/* connect with us menu */
    ul.social-media-menu {
            margin-left: 0;
            padding-top: 0;
            li {
                display: inline-block;
                line-height: 1;
                font-size: 200%;
                margin-right: 0;
                padding: 0;
              
                a {
                    border-width: 0;
                    padding: 0 0.25em;
                    line-height: normal;
                }
            }    
    }

#secondary.widget-area {
    padding: 0 1em;
}

