
 /**
 /// Site-wide Width contraints
  */
@mixin tablet_width() {
    max-width: $tablet-width;
}

// desktop width
@mixin desktop_width() {
    max-width: $desktop-width;
}

// lg-desktop width
@mixin lg-desktop_width() {
    max-width: $lg-desktop-width;
}

@mixin all-widths() {

   @media #{$tablet__breakpoint} {
       margin: 0 auto;
       @include tablet_width;
   }

   @media #{$desktop__breakpoint} {
       @include desktop_width;
   }

   @media #{$lg-desktop__breakpoint} {
       @include lg-desktop_width;
   }

}

/**
 * Global Container Widths
 */
.entry-content {

    margin: 0 auto;

    @media #{$tablet__breakpoint} {

        @include tablet_width;

    }

    @media #{$desktop__breakpoint} {

        @include desktop_width;

    }

    @media #{$lg-desktop__breakpoint} {

        @include lg-desktop_width;

    }

}

/**
 * Add width containers for each breakpoint to an element
 */
@mixin apply-device-width {

    margin: 0 auto;

    @media #{$tablet__breakpoint} {

        @include tablet_width;

    }
    @media #{$desktop__breakpoint} {

        @include desktop_width;

    }
    @media #{$lg-desktop__breakpoint} {

        @include lg-desktop_width;

    }

}

/**
 * Apply minimum top padding to avoid colliding with site header (absolute positioned)
 */
@mixin apply-heading-padding {

  padding-top: 4.03em;

  @media #{$tablet__breakpoint} {
      padding-top: 3.28em;
  }

  @media #{$desktop__breakpoint} {
      padding-top: 3.12em;
  }

}

@mixin page-header() {
   color: $hero-color;
   font-weight: bold;
   line-height: $second_line_height;
   margin: 0;
}

.hero-color-text {
  color: $hero-color;
}

/**
 * Add padding to anchored bookmarks to account for fixed header + some margin
 */
h2, p {
    position: relative;
    span[class="anchor-target"] {
        display: block;
        position: absolute;
        top: -150px;
        top: -7.5rem;
        padding-bottom: 81px;
        outline: none;
        border-width: 0;
        &:active, &:focus {
            outline: none;
            border-width: 0;
        }
    }
}


/**
/// For Testing
 */
@mixin border($width:2px, $color:red) {
    border: $width solid $color;
}

@mixin box-shadow {
    box-shadow: 2px 3px 7px $color-dark-transparent;
}

@mixin box-shadow-dual {
    box-shadow: 2px 4px 5px $color-dark,
                inset 0 1px 2px $color-dark;
}

@mixin border-radius( $radius: 4px ) {
    border-radius: $radius;
}

@mixin linear-gradient( $direction: to right, $color-a: $hero-color, $color-b: #213647 ) {

    background: linear-gradient( $direction, $color-a, $color-b );

}

@mixin header-linear-gradient( $direction: 95deg, $color-a: $hero-color, $color-b: #213647 ) {

    background: linear-gradient( $direction, $color-b, $color-a 65%, #b2d6f3 99% );

}

/**
 * Framework Mixins
 */
 // Center block
 @mixin center-block {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

 // Clearfix
 @mixin clearfix() {
 	content: "";
 	display: table;
 	table-layout: fixed;
 }

 // Clear after (not all clearfix need this also)
 @mixin clearfix-after() {
 	clear: both;
 }

 // Column width with margin
 @mixin column-width($numberColumns: 3) {
 	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
 }

 /**
 /// Skewed Green background */
@mixin backgroundSkewed {
   transform: skewY(2deg);
   color: $color-light;
   background-color: $hero-green;
   @include linear-gradient(45deg, $hero-green, #17422c);
   margin: -2em 0;
   padding: 2.25em 1em 5.063em;
   position: relative;
}

@mixin mobile-padding {
   padding: 0 1rem !important;
}

@mixin quotes {
   content: "\f10d";
   font-family: "FontAwesome";
   font-weight: 900;
   display: inline-block;
   float: left;
   padding: 0 1.25rem 0 0;
   font-size: ms(2);
   color: $hero-color;
   text-align: center;
   position: relative;
   top: 8px;
   left: 0;
}

/**
/// Class for adding a box shadow to WP images
*/
.page-image {
   @include box-shadow;
}

@import "hotfix";
