/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/
$mobile-only__breakpoint: "(max-width: 54em)";
$tablet__breakpoint: "(min-width: 54em)";
$desktop__breakpoint: "(min-width: 84em)";
$lg-desktop__breakpoint: "(min-width: 118.75em)";
