/*--------------------------------------------------------------
# Theme Colors
--------------------------------------------------------------*/
$hero-color: #385f7e;
$hero-color-transparent: rgba(56, 95, 126, 0.89);
$hero-green: #338c5f;
$hero-orange: #F75C03;
$hero-purple: #835EA8;

$color-dark: #666;
$color-dark-transparent: rgba(102, 102, 102, 0.79);
$color-light: #EAF1F7;

$text-color: $color-dark;


$hero-dark: #213647;

$panel-color: #F2F7F2;
