/*--------------------------------------------------------------
# Content Widths by Device
--------------------------------------------------------------*/
$tablet-width: 45rem;
$desktop-width: 48rem;
$lg-desktop-width: 54rem; // not actively in use
