@mixin border($width:2px, $color:red) {
    border: $width solid $color;
}

/* site widths */

// tablet width
@mixin tablet_width() {
    max-width: 40em;
}

// desktop width
@mixin desktop_width() {
    max-width: 44em;
}

// lg-desktop width
@mixin lg-desktop_width() {
    max-width: 44em;
}

