/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-Nov-2017, 12:44:13 AM
    Author     : David
*/


/**
  * Grow on hover
  */
/* Grow */
.grow-animate {
  display: inline-block;
  //vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: transform;
  transition-property: transform;
    &:hover,
    &:focus,
    &:active {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
    }
}


@keyframes fadeInUp {
    0% {
            transform: translateY(2rem);
            opacity: 0;
    }
    100% {
            transform: translateY(0);
            opacity: 1;
    }
}
.fadeInUp {
animation: fadeInUp 1.5s .23s ease-out forwards;
animation-fill-mode: both;
}