/**
 * Created May 16, 2018
 *
 * Styles for the blog!
 */
body.blog,
body.single {

    font-family: $text_font;

    .site-content {

        @extend .entry-content;
        padding-top: 10.83em;

    }

    main {

        header {

            position: relative;
            //top: 2em; // to account for absolute position entry-meta box

            .entry-title {
                @include heading-main;
            }

            .entry-meta {

                @extend .blog-meta-text;
                width: auto;
                position: absolute;
                top: -7em;
                padding: 0.25rem 16% 0.25rem 0;
                margin-bottom: 1em;

                /* TAG: Img */
                figure.author-avatar {

                    float: left;
                    margin: 0 0.5rem 0 0;
                    min-height: 4em;
                    line-height: 5;

                    > img {

                        vertical-align: middle;

                    }

                }

                > .author-vcard {

                    .author {

                        font-weight: 600;

                    }

                    .author-bio,
                    .times {

                        display: block;
                        color: slategrey;

                    }

                    .author-bio {

                        line-height: 1.2;
                        letter-spacing: 0.025em;

                    }

                    .social-links {

                        font-size: 156%;
                        line-height: 1;
                        padding-left: 0.5rem;

                        .social-link {

                            margin: 0 0.1rem 0 0;
                            padding: 0.25rem;
                            vertical-align: top;

                        }

                    }

                }

            }
        }

        .entry-content .byline {
            @include heading-byline;
            margin-top: 0;
        }

        /* Blog images */
        p > img[class*="wp-image-"] {
            /*TODO: replace this with a nice gradient or box-shadow*/
            @include border(4px, $color-dark);
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            text-align: center;
        }



    }

    .comments-area {

        margin-bottom: 8.83em;

        input[type="submit"] {
            @extend .peak-button;
        }

    }

    .entry-footer {
        .cat-links,
        .comments-link {
            @extend .blog-meta-text;
        }
    }
}

body.blog {
    .site-content {
        box-shadow: none;
    }
}
