/**
 * Created May 16, 2018
 *
 * Styles for the blog!
 */
body.blog,
body.single {
    
    font-family: $text_font;
    
    main {
        
        header {
            
            .entry-title {
                @include heading-main;
            }
            
            .entry-meta {
                border: 1px solid black;
                overflow: hidden;
                padding: 0.25rem;
                figure.author-avatar {
                    float: left;
                    margin: 0 0.25rem 0 0;
                    display: inline-block;
                    > img {
                        vertical-align: middle;
                    }
                }
                > div {
                    float: left;
                    .byline,
                    .posted-on {
                        display: block;
                    }
                }
            }
        }
        
        .entry-content .byline {
            @include heading-byline;
            margin-top: 0;
        }
        
        article.post {
            padding-top: 1.75rem;
        }
        
        /* Blog images */
        p > img[class*="wp-image-"] {
            /*NOTE: replace this with a nice gradient or box-shadow*/
            @include border(4px, $color-dark);
            max-width: 100%;
            height: auto;
            margin: 0 auto;
            text-align: center;
        }
        
    }
}



