/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-Nov-2017, 9:07:18 AM
    Author     : David
*/
.site-footer {
    display: flex;
    padding: 0.5em 0;
    nav {
        a {
            text-decoration: none;
        }
        .menu {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                
                a {
                    padding: 0 0.25em; 
                }
            }
            
        }
    }
    > div,
    > nav {
        display: flex;
        align-items: center;
    }
    #copyright,
    #legal-menu > ul {
        font-size: 75%;
    }
    #social-media-menu > ul {
        font-size: 125%;
    }
/*    #legal-menu {
        li:last-child {
            margin-left: 0.65em;
        }
    }    */
    
    @media #{$mobile-only__breakpoint} {
        justify-content: center;
        flex-wrap: wrap;
        #social-media-menu {
            order: 1;
            flex-basis: 100%;
            justify-content: center;
            font-size: 150%;
        }
        #legal-menu {
            order: 2;
            flex-basis: 100%;
            justify-content: center;
            margin: 0.5em 0;
            a {
                padding: 0.5em;
            }
        }
        #copyright {
            order: 3;
            margin: 0.5em 0;
        }
    }
    
    @media #{$tablet__breakpoint} {
        justify-content: space-around;    
    }
}

