.site-header {
    @include border(5px);
    padding: 0.10em;
    display: flex;
    flex-wrap: wrap;
    @media #{$desktop__breakpoint} {
        flex-wrap: nowrap;
        
    }
}

.site-branding {
    @include border(null,blue);
    min-height: 65px;
    //width: 100%;
    display: flex;
    flex-basis: 100%;
    @media #{$desktop__breakpoint} {
        flex: 0 0 45%;
    }
    
    .custom-logo-link {
    //@include border;
    margin-right: 0.25em;
    min-width: 65px;
    max-width: 5em;
    /* NOTE: revisit max-width property of Logo */
    @media #{$tablet__breakpoint} {
        //max-width: 12%;
        max-width: 6em;
    }
    @media #{$desktop__breakpoint} {
        max-width: 5em;
    }
    
    img {
        vertical-align: middle;
        @include border(1px,black);
    }
}
}

.main-navigation {
    @include border(1px, green);
    .menu {
        @media #{$tablet__breakpoint} {
            display: flex;
            justify-content: space-evenly;
        }
        @media #{$desktop__breakpoint} {
            justify-content: flex-end;
        }
        li {
            float: none;
            @include border;
            a {
                padding: 0.5em 1.5em;
            }
        }
        
        /* to split last two li items from others and float right */
/*        li:last-child,
        li:nth-last-child(2){
            float: right;
        }*/
    }
}



.site-title,
.site-description {
    margin: 0;
    
}

.custom-logo-link,
.site-branding-text-container,
.main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // have flexible height container: what is the em equivalent of 65px, 90px?
}

.site-title {
    //font-size: 1.777em;
    font-size: 2.369em;
    //font-size: 4em;
    line-height: normal;
    font-weight: 300;
    a {
        text-decoration: none;
    }
}

.site-description {
    line-height: 1;
    font-style: italic;
    display: none; // write function to toggle this off?? customizer??
}

.site-header:before,
.site-header:after {
    content: none; /* this removes clears around site header so that flexbox justify properties will work */
}