

.site-header {

    padding: 0 0.15em;
    background-color: transparent;
    
    position: relative;
    left: 0;
    right: 0;
    z-index: 1001;
    
    display: flex;
    justify-content: space-between;
    
    @media #{$tablet__breakpoint} {
        position: absolute;
    }
  
}



.header-sticky {
    position: fixed;
    background-color: $hero-color;  
    transition: all .1s ease-in;
    animation: fadeIn .5s .1s ease-in both;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    a {
        color: $color-light;    
    }
    .fa {
        color: $color-light !important;
    }
    .main-navigation ul.sub-menu {
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
        background-color: $hero-color;
        opacity: 0.9;
        & a:hover {
            background-color: $color-light;
            color: $hero-color;
        }
    }
    
    .site-branding .custom-logo-link {
        max-width: 2.5em;
    }
    
}

.site-branding,
.site-navigation {
    flex: 1 0 auto;
}
/**
  * (flex) center vertically header/branding content 
  */
.custom-logo-link,
.site-branding-text-container,
.main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // have flexible height container: what is the em equivalent of 65px, 90px?
}

.site-branding {

    min-height: 65px;
    display: flex;
    //margin-bottom: 3px; /* detail spacing */
    margin-left: 3px;
    //flex-basis: 100%;

    @media #{$tablet__breakpoint} {
        flex: 1 0 33%;
    }

    @media #{$desktop__breakpoint} {
        flex-basis: 45%;
    }

    .custom-logo-link {
        margin-right: 0.25em;
        min-width: 60px;
        max-width: 1.5em;
        /* NOTE: revisit max-width property of Logo */
        @media #{$tablet__breakpoint} {
            max-width: 2em;
        }
        @media #{$desktop__breakpoint} {
            max-width: 3em;
        }

        img {
            vertical-align: middle;
        }
    }

}

.site-navigation {}

.main-navigation {

    .menu {
        
        @media #{$tablet__breakpoint} {
            display: flex;
            justify-content: flex-end;
        }
        
    }
    
}

.site-title,
.site-description {
    margin: 0;

}

.site-title {
    font-size: 1.777em;
    //font-size: 2.369em;
    //font-size: 4em;
    line-height: normal;
    font-weight: 300;
    a {
        text-decoration: none;
        //white-space: nowrap;
    }
}

.site-description {
    line-height: 1;
    font-style: italic;
    display: none; // write function to toggle this off?? customizer??
}

.site-header:before,
.site-header:after {
    content: none; /* this removes clears around site header so that flexbox justify properties will work */
}
