

$first_modular: 1.5;

// line heights
$line-height: $first_modular;
$line-height-header: 1.25;

$font__line-height-pre: 1.6;


h1,
h2,
h3,
h4,
h5,
h6 {
/*    line-height: $first_modular;
    margin-top: $first_modular + em;
    margin-bottom: ($first_modular  / 2) + em;*/
    margin-bottom: 0.5rem;
    color: $hero-color;
}

h1, h2 {
    //margin-bottom: 2rem;
}

p {
    line-height: $line-height;
    //margin: $line-height + rem 0 ($line-height + rem / 2);
    margin-top: $line-height + rem;
    margin-bottom: ($line-height  / 2) + rem;
    //margin: 1rem 0 0;
    line-height: 1.5;
}