
// custom fonts => replace these as desired
$font__header: 'Raleway', sans-serif;
$font__main: 'Titillium Web', sans-serif;

// other theme fonts
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$first_modular: 1.5;

// line heights
$line-height-main: $first_modular;
$line-height-header: 1.25;

$font__line-height-pre: 1.6;


h1,
h2,
h3,
h4 {
/*    line-height: $first_modular;
    margin-top: $first_modular + em;
    margin-bottom: ($first_modular  / 2) + em;*/
    margin-bottom: 0.5rem;
}

h1, h2 {
    //margin-bottom: 2rem;
}

p {
    line-height: $line-height-main;
    //margin: $line-height-main + rem 0 ($line-height-main + rem / 2);
    margin-top: $line-height-main + rem;
    margin-bottom: ($line-height-main  / 2) + rem;
    //margin: 1rem 0 0;
    line-height: 1.5;
}