/**
  * This file contains all navigation related styles 
  */

.main-navigation {
	
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
                        
			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}
/*                @media screen and (max-width: 48em) {
                    li:hover > ul,
                    li.focus > ul {
                            left: inherit;
                    }
                }*/
                @media #{$tablet__breakpoint} {
                    li:hover > ul,
                    li.focus > ul {
                            left: auto;
                    }
                }
		
	}

	li {
            float: none;
            position: relative;

            a {
                padding: 0.5em 1.5em;
                font-weight: 400;
                text-align: center;
                white-space: nowrap;
            }

            &:hover > a,
            &.focus > a {
            }
	}

	a {
            display: block;
            text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
// .menu-toggle refers to the hamburger icon
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
        background-color: transparent;
        margin-right: 3px;
        border-width: 0;
        > i {
            font-size: 2em;
        }
}

@media #{$tablet__breakpoint} {
	.menu-toggle {
		display: none;
	}	
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

/* Links */
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
                color: $hero__color;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.main-navigation {
    
    flex: 0;
    
    .menu {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1002;
        top: 100%;
        @media #{$tablet__breakpoint} {
            position: relative;
            left: auto; right: auto;
            top: auto;
            z-index: initial;
            .sub-menu li a {
                text-align: left;
            }
        }
        .sub-menu {
            > li,
            a {
                width: 100%;
            }
        }
    }
    
    .menu-item-has-children  {
        > a {
            padding-right: 1.65em;
        }
        > button {
            position: absolute;
            top: 3px;
            right: 6px;
            line-height: inherit;
            background-color: transparent;
            border: none;
            font-size: 125%;
            padding: 0 0.5em;
            > .fa {
                color: $hero__color;
            }
            @media #{$tablet__breakpoint} {
                padding-top: 3px;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
            
        }
    }

}

.main-navigation ul {
    /**
    * from mobile up until tablet breakpoint
    * when toggled, turn off display and position properties on menu ul
    */
    @media screen and (max-width: 48em) {
        ul.toggled {
            @include border(3px, green);
        position: initial;
        float: none;
        display: block;
        width: 100%;
        z-index: initial;
        }
    }
    
    /**
    * from tablet breakpoint and on, make sure main ul is display block
    */
    @media #{$tablet__breakpoint} {
        display: block;
    } 
    
}
