.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em auto 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
  * Custom styles
  */
/* page header banners */
.page .entry-header {
    background-color: $hero__color;
    padding: 0.5em 0 0.75em;
    .entry-title {
        color: white; 
        line-height: $font__line-height-header;
        margin: 0;
        @include heading-2;
    }  
}

.post .entry-meta {
    padding: 0;
}

figure.author-avatar {
    @include border;
    margin: 0;
    padding-right: 0.25em;
    display: inline-block;
    > img {
        vertical-align: middle;
    }
}

