button[type="submit"].peak-button,
input[type="submit"].peak-button,
.peak-button {

		position: relative;
		text-transform: capitalize;
    clear: both;
    background-color: $hero-green;
    border: 0 none;
    @include border-radius;
    transition: all 0.23s ease-in-out 0s;
    color: $color-light;
    cursor: pointer;
    display: inline-block;
    font-size: ms(0);
    font-weight: normal;
    min-height: 1em;
    line-height: 1em;
    margin: 1em 0;
    padding: 0.75em 1.25em;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    // @include box-shadow;
    transition-property: color;
    transition-duration: 0.3s;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #2098D1;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus {
        color: white;
    }
    &:hover:before,
    &:focus:before,
    &:active:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    &:visited {
        color: $color-light;
    }
}

.peak-btn-highlight {
    background-color: transparent;
    border: 2px solid $color-light;
    text-transform: uppercase;
    //font-size: 125%;
    &:before {
        background: rgba(155,155,155,.75);
        background: $hero-orange;
        background: $hero-purple;

    }
}

peak-btn-highlight-light {
    &:hover {
        color: white;
    }
}

/*.peak-button-container {
    position: relative;
    &::before {

    }
}*/
